<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{mm:ss} %-5level %logger{26} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.springframework" level="debug">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->
<!--    <logger name="com.hello.hello_world" level="debug">
        <appender-ref ref="STDOUT"/>
    </logger>-->

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>